<a href="https://colab.research.google.com/github/lagmagalhaes/EDA_Ifood-parte1/blob/main/Desafio_Ifood_%20Parte1_e_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Desafio Ifood - Parte 2

Este Dataset foi disponibilizado pelo curso EBA - Estatística do Básico ao Avançado para a análise de dados composto por clientes da empresa Ifood.

O conjunto de dados é composto por clientes da empresa Ifood com dados sobre:

- Perfis de clientes
- Preferências do produto
- Sucessos/fracassos da campanha
- Desempenho do canal

In [2]:
# Importar Bibliotecas

# Importar bibioteca para manipulação de dados
import pandas as pd

# Importar biblioteca para operações matematicas
import numpy as np

# Importando biblotecas para auxiliar na visualização dos dados
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Carregar os dados e ler o arquivo.csv

df = pd.read_csv("/content/drive/MyDrive/mkt_data.csv")

Suponha que estamos a tentar atrair mais clientes. Na análise de dados anterior, vimos que os clientes sem filhos gastam mais que os clientes com filhos. A equipa de marketing pensou em fazer campanhas direcionadas ao grupo de pessoas com filho (independente da quantidade), porém precisamos comprovar se de fato as médias de gastos dos grupos é diferente. Portanto:

**Agrupar todas os clientes que tem filhos em um grupo chamado "com filhos" e fazer uma comparação da média de gastos de clientes sem filhos e clientes com filhos.**

In [6]:
# Criando coluna de despesas dos que tem filhos

df['expenses_com_kids'] = df[df['kids']!=0]['expenses']

# Criando coluna de despesas dos que não tem filhos

df['expenses_sem_kids'] = df[df['kids']== 0]['expenses']

# Mostrar o Arquivo
df

,Unnamed: 0,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,...,education_PhD,MntTotal,MntRegularProds,AcceptedCmpOverall,marital_status,education_level,kids,expenses,expenses_com_kids,expenses_sem_kids
0,0,58138.0,0,0,58,635,88,546,172,88,...,NaN,1529,1441,0,Single,Graduation,0,1529,NaN,1529.0
1,1,46344.0,1,1,38,11,1,6,2,1,...,NaN,21,15,0,Single,Graduation,2,21,21.0,NaN
2,2,71613.0,0,0,26,426,49,127,111,21,...,NaN,734,692,0,Together,Graduation,0,734,NaN,734.0
3,3,26646.0,1,0,26,11,4,20,10,3,...,NaN,48,43,0,Together,Graduation,1,48,48.0,NaN
4,4,58293.0,1,0,94,173,43,118,46,27,...,5.0,407,392,0,Married,PhD,1,407,407.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2200,2200,61223.0,0,1,46,709,43,182,42,118,...,NaN,1094,847,0,Married,Graduation,1,1094,1094.0,NaN
2201,2201,64014.0,2,1,56,406,0,30,0,0,...,5.0,436,428,1,Together,PhD,3,436,436.0,NaN
2202,2202,56981.0,0,0,91,908,48,217,32,12,...,NaN,1217,1193,1,Divorced,Graduation,0,1217,NaN,1217.0
2203,2203,69245.0,0,1,8,428,30,214,80,30,...,NaN,782,721,0,Together,Master,1,782,782.0,NaN
2204,2204,52869.0,1,1,40,84,3,61,2,1,...,5.0,151,130,0,Married,PhD,2,151,151.0,NaN

Aqui não conhecemos o desvio padrão populacional, apenas conseguimos o desvio padrão e média das amostras. Vamos verificar a quantidade de dados de cada uma das amostras para verificar se podemos aplicar o Teorema do Limite Central.

In [7]:
# Contar o número de valores não nulos na coluna "expenses_com_filhos".
df['expenses_com_kids'].count()

1577

In [8]:
# Contar o número de valores não nulos na coluna "expenses_sem_filhos".
df['expenses_sem_kids'].count()

628

Temos um grande número de amostras, pelo que o ***Teorema do Limite Central*** assegura que a distribuição das médias das amostras se aproxima de uma distribuição normal. Assim, vamos proceder à aplicação do ***Teste T***.

Ho: as médias de gastos são iguais.

Ha: as médias de gastos são diferentes.

Vamos usar 95% de confiança

In [9]:
from scipy import stats
import numpy as np

# Suponha que df é o DataFrame com as colunas expenses_com_kids e expenses_sem_kids

# Removendo valores NaN e obtendo as amostras

expenses_com_kids = df['expenses_com_kids'].dropna()
expenses_sem_kids = df['expenses_sem_kids'].dropna()

# Calculando o teste t
t_stat, p_value = stats.ttest_ind(expenses_com_kids, expenses_sem_kids)

# Exibindo os resultados
print("Estatística t:", t_stat)
print("Valor-p:", p_value)

Estatística t: -28.902593571564687
Valor-p: 5.171525024868465e-156


O p-value é muito menor que 0.05, logo rejeitamos a hipotese nula e podemos afirmar ao nível de 95% de confiança que houve diferença na média de gastos entre os grupos que tem filhos e os que não tem filhos.

In [10]:
#calcular a média para cada grupo
print("Médias expenses com filhos:", expenses_com_kids.mean().round(2))
print("Médias expenses sem filhos:", expenses_sem_kids.mean().round(2))

Médias expenses com filhos: 372.24
Médias expenses sem filhos: 1041.21

Conseguimos ver claramente que a média de gastos para os clientes com filhos é claramente menor dque os clientes sem filhos.

**Agora, vamos comparar os grupos de pessoas com filhos. O time de marketing nos perdiu para verificar se há diferenças de gastos em quem tem 1, 2, 3 ou mais filhos para que eles possam afunilar mais ainda a campanha. Para isso, vamos analisar os dados:**

In [11]:
# Verificar o tamanho de cada amostra

df['kids'].value_counts()

kids
1    1112
0     628
2     415
3      50
Name: count, dtype: int64

In [12]:
df.groupby(["kids"]).expenses.mean().round(2)

kids
0    1041.21
1     434.53
2     221.57
3     237.38
Name: expenses, dtype: float64

Podemos constatar que o nosso objetivo é analisar se o número de filhos tem impacto na média de despesas e comparar os grupos. Para isso, vamos utilizar a ANOVA 1 fator. As permissas para a ANOVA são: Premissas:

Amostras aleatorias;

Grupos independentes;
A variáveis dependente é contínua
A variavel independente é categorica os dados devem seguir uma distribuição normal, ou cada grupo deve ter mais de 15 ou 20 observações
Os grupos devem ter variaçoes aproximadamente iguais.

Ho: Não há diferenças na média de gastos entre os grupos.

Ha: Nem todas as médias são iguais.

**Antes de realizar o teste ANOVA, é necessário verificar se todas as variâncias são iguais:**

In [13]:
# Eliminar os valores nulos para fazer os testes

com_um_filho = df[df['kids'] == 1]['expenses'].dropna()
com_dois_filhos = df[df['kids'] == 2]['expenses'].dropna()
com_tres_filhos = df[df['kids'] == 3]['expenses'].dropna()

In [14]:
# Vamos usar o teste de Barlett para testar se as variâncias são iguais ou diferentes

import scipy.stats as stats

stats.bartlett(com_um_filho, com_dois_filhos, com_tres_filhos)

BartlettResult(statistic=102.21719770243517, pvalue=6.365280420300725e-23)

O p_value é menor que 0.05, logo rejeitamos a hipotese nula e aceitamos que pelo menos uma das amostras possui variancia diferente. Portanto, poderiamos usar a **ANOVA de Welch**

In [15]:
!pip install pingouin

Collecting pingouin
  Downloading pingouin-0.5.5-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from pingouin) (3.7.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.26.4)
Requirement already satisfied: pandas>=1.5 in /usr/local/lib/python3.10/dist-packages (from pingouin) (2.1.4)
Collecting pandas-flavor (from pingouin)
  Downloading pandas_flavor-0.6.0-py3-none-any.whl.metadata (6.3 kB)
Requirement already satisfied: scikit-learn>=1.2 in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.3.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from pingouin) (1.13.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (from pingouin) (0.13.1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (from pingouin) (0.14.2)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from pingouin) (0.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5->pingouin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5->pingouin) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.5->pingouin) (2024.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.2->pingouin) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1.2->pingouin) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pingouin) (3.1.4)
Requirement already satisfied: xarray in /usr/local/lib/python3.10/dist-packages (from pandas-flavor->pingouin) (2024.6.0)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.10/dist-packages (from statsmodels->pingouin) (0.5.6)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.6->statsmodels->pingouin) (1.16.0)
Downloading pingouin-0.5.5-py3-none-any.whl (204 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 204.4/204.4 kB 8.1 MB/s eta 0:00:00
Downloading pandas_flavor-0.6.0-py3-none-any.whl (7.2 kB)
Installing collected packages: pandas-flavor, pingouin
Successfully installed pandas-flavor-0.6.0 pingouin-0.5.5

In [16]:
import pingouin as pg

com_filhos = df[df['kids'] != 0]

pg.welch_anova(dv='expenses',between='kids',data=com_filhos)

  Source  ddof1       ddof2          F         p-unc       np2
0   kids      2  132.724442  59.721904  3.178541e-19  0.051464

O p_valor é menor do que alpha (0.05), portanto, rejeitamos H0 e concluimos que a 95% de confiança que as médias de gastos entre os grupos não são iguais.

Agora, vamos usar um teste **Post Hoc (Games-Howell)** para descobrir qual dos pares não são iguais. Lembrando que esses dados violam a aproximação de dados para normalidade e as amostras não tem variancias iguais. Neste caso não podemos usar Tukey.

In [17]:
# Utilizar o teste games Howell

pg.pairwise_gameshowell(dv='expenses',between='kids',data=com_filhos)

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1,2,434.530576,221.568675,212.961901,19.678256,10.822194,1152.588538,2.596812e-13,0.513077
1,1,3,434.530576,237.380000,197.150576,56.823741,3.469511,55.099957,2.888048e-03,0.437688
2,2,3,221.568675,237.380000,-15.811325,56.988869,-0.277446,55.722906,9.584865e-01,-0.052201

Apenas quando p-valor for maior do que 5e-02 aceitamos H0 (médias iguais). Logo, todas as médias são consideradas diferentes, exceto a 2-3.

Verificamos que os grupos dos clientes com 1 filho e 2 filhos têm médias diferentes, uma vez que o p_valor é inferior a 0,05, permitindo-nos rejeitar a hipótese nula. O mesmo acontece com o grupo dos clientes com 1 filho e 3 filhos. No entanto, para o grupo de pessoas com 2 filhos e 3 filhos, o p_valor é superior a 0,05, pelo que não podemos rejeitar a hipótese nula.

Sendo assim, os gastos médios dos grupos com 2 e 3 filhos são estatisticamente iguais. No entanto, verificam-se diferenças significativas nas médias dos restantes grupos. Consequentemente, a equipa de marketing pode direcionar os seus esforços para os grupos familiares com 2 ou 3 filhos